includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    # The level 8 is the highest level
    level: 5

    #ignoreErrors:

    excludePaths:
        - app/Actions/Jetstream
        - app/Actions/Fortify
        - app/Http/Resources/*
        - app/Console/Commands/Archive/*
        - app/Console/Commands/LarachainTransform.php
        - app/Console/Commands/LarachainTransformEmbed.php

    checkMissingIterableValueType: false
